<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}" />

    <script th:src="@{/js/directorsDelete.js}"></script>

    <title>All Directors</title>
</head>
<body>

<div th:insert="~{fragments/nav-bar :: navigation}"></div>

<div class="container-fluid">
    <h3> All Directors </h3>
    <hr>

    <!-- Add table to show directors -->
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date Of Birth</th>
            <th sec:authorize="isAuthenticated()">Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="temopDirector : ${directors}" th:id="'director-' + ${temopDirector.directorId}">
            <td th:text="${temopDirector.firstName}" />
            <td th:text="${temopDirector.lastName}" />
            <td th:text="${temopDirector.dateOfBirth}" />
            <td sec:authorize="isAuthenticated()">
                <a th:href="@{'/directors/' + ${temopDirector.directorId}}"
                   class="btn btn-dark btn-sm" th:text="'More'" />

                <button class="btn btn-sm btn-danger delete-director-button"
                        th:attr="data-director-id=${temopDirector.directorId}">
                    Delete
                </button>

                <a th:href="@{'/directors/update/' + ${temopDirector.directorId}}"
                   class="btn btn-sm btn-info" th:text="'Update'" />
            </td>
        </tr>
        </tbody>
    </table>

</div>

<script th:src="@{/webjars/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>

</body>
</html>