<html lang="en" xmlns:th="http://www.thymeleaf.org">


<div th:fragment="navigation">

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Internet Movie Database</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" th:text="'Movies'" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" />
                        <ul class="dropdown-menu">
                            <li><a class="nav-link" th:href="@{/movies/show}" th:text="'All Movies'" /></li>
                            <li><a class="nav-link" th:href="@{/movies/search}" th:text="'Serach Movies'" /></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" th:text="'Directors'" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" />
                        <ul class="dropdown-menu">
                            <li><a class="nav-link" th:href="@{/directors/show}" th:text="'All Directors'" /></li>
                            <li><a class="nav-link" th:href="@{/directors/add}" th:text="'Add Directors'" /></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/studios/show}" th:text="'Studios'" />
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>