<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <th:block th:insert="~{fragments/heading :: heading}" />

    <script th:src="@{/js/bundle-site.js}" defer></script>
    <script th:src="@{/js/bundle-searchMovie.js}" defer></script>

    <link rel="stylesheet" th:href="@{/css/bundle-site.css}" />

    <title>Search Movies</title>

</head>
<body>
<div th:insert="~{fragments/nav-bar :: navigation}"></div>

<main class="container">
    <div class="pt-3 pb-2 text-center">
        <h3>Search Movies</h3>
    </div>

    <div class="mb-3">
        <label for="search" class="form-label">Start typing to search...</label>
        <input type="text" class="form-control" id="search">
    </div>

    <div id="search-results"></div>
</main>
</body>
</html>