<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}" />

    <title>Search Movies</title>

    <script th:src="@{/js/searchMovie.js}"></script>
</head>
<body>
<div th:insert="~{fragments/nav-bar :: navigation}"></div>

<main class="container">
    <div class="pt-2">
        <h3>Search Movies</h3>
    </div>
    <hr>

    <div class="mb-3">
        <label for="search" class="form-label">Start typing to search...</label>
        <input type="text" class="form-control" id="search">
    </div>

    <div id="search-results"></div>
</main>

<script th:src="@{/webjars/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>

</body>
</html>