<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <th:block th:insert="~{fragments/heading :: heading}" />

    <script th:src="@{/js/bundle-site.js}" defer></script>

    <link rel="stylesheet" th:href="@{/css/bundle-site.css}" />

    <title>All Movies</title>
</head>
<body>

<div th:insert="~{fragments/nav-bar :: navigation}"></div>


<div class="container-fluid">
<h3> All Movies </h3>
<hr>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th sec:authorize="isAuthenticated()">Quote</th>
            <th sec:authorize="isAuthenticated()">Studio</th>
            <th>Director</th>
            <th sec:authorize="isAuthenticated()">Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempMovie : ${movies}">
            <td th:text="${tempMovie.movieName}" />
            <td th:text="${tempMovie.movieQuote}" sec:authorize="isAuthenticated()" />
            <td th:text="${tempMovie.studio.name}" sec:authorize="isAuthenticated()" />
            <td th:text="${tempMovie.director.firstName} + ' ' + ${tempMovie.director.lastName}" />
            <td sec:authorize="isAuthenticated()">
                <a th:href="@{'/movies/' + ${tempMovie.movieId}}"
                   class="btn btn-dark btn-sm" th:text="More" />
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>