.glass {
    background-color: rgba(167, 167, 167, 0.25);
    backdrop-filter: blur(15px);
}

.gradient-bg {
    background-image: radial-gradient(circle, #121870 ,#62686f);
}

.card {
    --bs-card-bg: rgba(167, 167, 167, 0.25) !important;
    backdrop-filter: blur(15px) !important;
}

.footer-sm-text {
    border-color: transparent;
    font-size: 0.95em;
    color: #9595b4;
}