<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <th:block th:insert="~{fragments/heading :: heading}" />

    <script th:src="@{/js/bundle-site.js}" defer></script>

    <link rel="stylesheet" th:href="@{/css/bundle-site.css}" />

    <title>All Studios</title>
</head>
<body>

<div th:insert="~{fragments/nav-bar :: navigation}"></div>

<div class="container-fluid">

    <div class="pt-3 pb-2 text-center">
        <h3>All Studios</h3>
    </div>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr class="text-center">
            <th>Studio Name</th>
            <th>Location</th>
            <th sec:authorize="isAuthenticated()">Actions</th>
        </tr>
        </thead>

        <tbody class="text-center">
        <tr th:each="temopStudio : ${studios}">
            <td th:text="${temopStudio.name}" />
            <td th:text="${temopStudio.location}" />
            <td sec:authorize="isAuthenticated()">
                <a th:href="@{'/studios/' + ${temopStudio.studioId}}"
                   class="btn btn-dark btn-sm" th:text="More" />
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>